<div style="width: 30%;">
    <h3>EDIT HEIGHT</h3>
    <form action="/edit-height/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="uploadedFile"><br>
        <input type="text" name="randomCol" placeholder="Nhập tên cột đang random..."><br>
        <input type="text" name="number" placeholder="Nhập độ rộng muốn tăng thêm..."><br>
        <input type="text" name="start" placeholder="Nhập ô bắt đầu..."><br>
        <input type="text" name="end" placeholder="Nhập ô kết thúc..."><br>
    <button type="submit">Gửi</button>
    </form>
</div>