<div style="width: 30%;">
    <h3 style="color: red;">
        OFF SET NAME
    </h3>
    <form action="/offset-name/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="uploadedFile"><br>
            <input type="text" name="username" placeholder="Nhập tên Chủ tài khoản..."><br>
            <input type="text" name="mainContent" placeholder="Nhập tên cột chứa nội dung..."><br>
            <input type="text" name="splitContent" placeholder="Nhập tên cột chứa offset name..."><br>
            <input type="text" name="start" placeholder="Nhập ô bắt đầu..."><br>
            <input type="text" name="end" placeholder="Nhập ô kết thúc..."><br>
        <button type="submit">Gửi</button>
    </form>
</div>
