<div style="width: 30%;">
    <h3>EDIT PAYMENT REGULAR</h3>
    <form action="/payment-regular/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="uploadedFile"><br>
        <input type="text" name="columnDate" placeholder="Nhập cột date check..."><br>
        <input type="text" name="startDate" placeholder="Nhập ngày bắt đầu..."><br>
        <input type="text" name="endDate" placeholder="Nhập ngày kết thúc..."><br>
        <input type="text" name="start" placeholder="Nhập ô bắt đầu..."><br>
        <input type="text" name="end" placeholder="Nhập ô kết thúc..."><br>
        <input type="text" name="amount" placeholder="Nhập số tiền chuyển khoản..."><br>
        <input type="text" name="columnAmout" placeholder="Nhập ô chuyển khoản..."><br>
        <input type="text" name="content" placeholder="Nhập nội dung chuyện khoản..."><br>
        <input type="text" name="columnContent" placeholder="Nhập ô nội dung..."><br>
        <input type="text" name="columnDebit" placeholder="Nhập ô nợ..."><br>
    <button type="submit">Gửi</button>
    </form>
</div>